body{
    font: normal 20px Arial;
    background: gray;
    
}


.margin{
    padding: 10px;

}


.quem-somos{
    background: #FFDD83;
    border-top:2px solid black;
    border-bottom: 2px solid black;
}

.servicos{
    background: #FFDD83;
    border-bottom:2px solid black;
    font-weight: bold;
}

.bookingsec{
    background: #FFDD83;
    border-bottom:2px solid black;
    font-weight: bold;

}

footer{
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}